{
    "env": {
      "browser": true,
      "es2020": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:jsx-a11y/recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended",
      "plugin:storybook/recommended",
      "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": "latest",
      "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "prettier", "react-refresh", "import"],
    "settings": {
      "react": {
        "version": "18"
      }
    },
    "rules": {
      "react-refresh/only-export-components": "warn",
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      "react/react-in-jsx-scope": "off",
      "import/order": [
        "error",
        {
          "groups": [
            "builtin",
            "external",
            "internal",
            "sibling",
            "parent",
            "index",
            "unknown"
          ],
          "pathGroups": [
            {
              "pattern": "react*",
              "group": "builtin",
              "position": "before"
            },
            {
              "pattern": "@/**",
              "group": "external",
              "position": "after"
            }
          ],
          "pathGroupsExcludedImportTypes": [],
          "newlines-between": "always",
          "alphabetize": {
            "order": "asc",
            "caseInsensitive": true
          },
          "warnOnUnassignedImports": false
        }
      ]
    },
    "ignorePatterns": ["dist", "build"]
  }
  